@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');


/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font: 600 var(--subtitle-font-size) var(--body-font);
  color: var(--color-3);
}

/*====  VARIABLES ============================ */
:root {
  // colors
  --color-1: #02CEE3;
  --color-2: #F5C401;
  --color-3: #282641;
  --color-4: #EEF5EF;

  // fonts
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*====  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-3);
  background-color: var(--color-4);
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin: 0em 0px !important;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.subtitle {
  font: 300 var(--subtitle-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-weight: 600;
}

/*====  LAYOUT ============================ */
.container {
  padding: 5rem 0rem;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}